body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Navbar styling */
nav {
    font-family: "Seymour One", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

/* Logo image on the left */
.navbar-logo img {
    height: 50px;
    width: 50px;
}

/* Links to the right */
.navbar-links {
    font-family: "Seymour One", sans-serif;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 30px; /* Add space between the links */
}

/* Navigation links styling */
.navbar-links a {
    font-family: "Seymour One", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
}

/* Right-aligned section for the "Reviews" */
.navbar-right {
    font-family: "Seymour One", sans-serif;
    margin-left: auto;
}

/* Hover effect for links */
.navbar-links a:hover, .navbar-right a:hover {
    background-color: #555;
    border-radius: 5px;
}