<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Example</title>
</head>
<body>
    <nav>
        <div class="navbar-logo">
            <img src="/assets/images/flight.png " height="50" width="50"><span style="font-size: larger;" style="color:white">FRIENDS  Travels</span>
        </div>

       
        <div class="navbar-links">
            <a routerLink="/home">Home</a>
            <a routerLink="/aboutus">About Us</a>
            <!-- <a routerLink="/register">Register</a> -->
            <a routerLink="/bookTravel">Book Travel</a>
            <a routerLink="/mybookings">My bookings</a>
            <a routerLink="/signup">SignUp</a>
        </div>

        
        <div class="navbar-right">
            <button type="button" class="btn btn-info" routerLink="/reviews">Reviews</button>
        </div>
    </nav>

</body>
</html>
