<div class="reviews-page">
    <h1 class="page-title">Listen what celebrities say about us</h1>
    
    <div class="review-card">
      <div class="review-content">
        <img src="assets/images/maheshbabuprofile.jpg" alt="Mahesh Babu" class="celebrity-image"/>
        <div class="review-text">
          <h2>Mahesh Babu</h2>
          <p>"Friends Travels made my vacation unforgettable! The personalized service and attention to detail for my film Buisiness Man was too good..!kudos."</p>
        </div>
      </div>
      <div class="vacation-image">
        <img src="assets/images/maheshtravel.jpg" alt="Vacation 1"/>
      </div>
    </div>
    
    <div class="review-card">
      <div class="review-content">
        <img src="assets/images/prabhasprofile.jpg" alt="Prabhas" class="celebrity-image"/>
        <div class="review-text">
          <h2>Prabhas</h2>
          <p>"I had an amazing experience with Friends  Travels. Their dedication to provide locations for saaho movie was on point....Loved it!"</p>
        </div>
      </div>
      <div class="vacation-image">
        <img src="assets/images/prabhastravel.jpg" alt="Vacation 2"/>
      </div>
    </div>
    
    <div class="review-card">
      <div class="review-content">
        <img src="assets/images/alluprofile.jpg" alt="Allu Arjun" class="celebrity-image"/>
        <div class="review-text">
          <h2>Allu Arjun</h2>
          <p>"Friends  Travels knows how to make your journey special.The Locations for Samajavaragamana were planned by them.Impressive!"</p>
        </div>
      </div>
      <div class="vacation-image">
        <img src="assets/images/alluarjuntravel.jpg" alt="Vacation 3"/>
      </div>
    </div>
  </div>
  